<p>
   The number one indicates the ability to stand alone, and is a strong vibration. Ruled by the Sun.
   The number two indicates the desire for harmony. It is a gentle, considerate, and sensitive vibration. Ruled by the Moon.
   Number three is a sociable, friendly, and outgoing vibration. Kind, positive, and optimistic, Three's enjoy life and have a good sense of humor. Ruled by Jupiter.
   Fours are trustworthy, hard-working, and helpful. Ruled by Uranus.
   The number five is an intellectual vibration. These are 'idea' people with a love of variety and the ability to adapt to most situations. Ruled by Mercury.
   The number six is a loving, stable, and harmonious vibration. Ruled by Venus.
   The number seven is a spiritual vibration. These people are not very attached to material things, are introspective, and generally quiet. Ruled by Neptune.
   Number eight is a strong, successful, and material vibration. Ruled by Saturn.
   Number nine is a tolerant, somewhat impractical, and sympathetic vibration. Ruled by Mars.
</p>